%div#headerhome
  %h1.homeheader
    GA Ideas Network
  %h2.hometagline
    This is a forum for submitting, registering, reviewing, and voting on new tech ideas.

%div#main
  %h3.homemain
    Top three trending ideas:

  %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
    - @ideas.each do |idea|
      %Li
        %ul.ideas-homepage
          %li
            = link_to "#{idea.title}", idea
            %br
            = idea.brief
            %br
            = idea.user.first_name
            %br
            = idea.user.last_name
            %br
            = idea.brief
            %br
            = image_tag idea.media[0].try(:content)








     
