= form_for(@idea) do |f|
  - if @idea.errors.any?
    #error_explanation
      %h2
        = pluralize(@idea.errors.count, "error")
        prohibited this idea from being saved:
      %ul
        - @idea.errors.full_messages.each do |message|
          %li= message
  .field.titleentry
    = f.label :title
    %br/
    = f.text_field :title
  .field.genreentry
    = f.label :genre
    %br/
    = f.text_field :genre
  .field.briefentry
    = f.label :brief
    %br/
    = f.text_area :brief
  .field.descriptionentry
    = f.label :description
    %br/
    = f.text_area :description
  .actions
    = f.submit
