%p#notice= notice
%p
  %strong User:
  = @idea.user_id
%p
  %strong Title:
  = @idea.title
%p
  %strong Genre:
  = @idea.genre
%p
  %strong Brief:
  = @idea.brief
%p
  %strong Description:
  = @idea.description

  
- if can? :add, @idea
  = link_to 'Edit', edit_idea_path(@idea)
  |
  \#{link_to 'Back', ideas_path}

.button
  = link_to 'like idea', like_idea_path(@idea), method: :put
  = @idea.get_likes.size

.button
  = link_to 'dislike idea', dislike_idea_path(@idea), method: :put
  = @idea.get_dislikes.size
