<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @idea.user.first_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @idea.genre %>
</p>

<p>
  <strong>Brief:</strong>
  <%= @idea.brief %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>

<!-- Stripe Form -->

<%= form_tag get_payment_idea_path , id: "payment-form" %>
  <span class="payment-errors"></span>

  <div class="form-row">
    <%= label_tag :card_number %><br />
    <%= text_field_tag "", nil, data:{stripe: "number"} %>
  </div>

  <div class="form-row">
    <%= label_tag :cvc %><br />
    <%= text_field_tag "", nil, data:{stripe: "cvc"} %>
  </div>

  <div class="form-row">
    <%= label_tag :expiration %><br />
    <%= text_field_tag "", nil, data:{stripe: "exp-month"} %>/
    <%= text_field_tag "", nil, data:{stripe: "exp-year"} %>
  </div>

  <%= submit_tag :Endorse, class: "button expand" %>


<!-- Stripe.js JQ functionality -->
<script type="text/javascript">
  jQuery(function($) {
    $('#payment-form').submit(function(event) {
      var $form = $(this);

      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);

      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from submitting with the default action
      return false;
    });
  });

  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response.id;

      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };

</script>
