%p#notice= notice
%p
  %strong User:
  = @idea.user_id
%p
  %strong Title:
  = @idea.title
%p
  %strong Genre:
  = @idea.genre
%p
  %strong Brief:
  = @idea.brief
%p
  %strong Description:
  = @idea.description
%p
  %ul Media Image:
  - for i in 0..@idea.media.length
    = image_tag @idea.media[i].try(:content)
  - i++

= link_to "Add Media", new_idea_medium_path(@idea)
  

= render partial: 'comments/form', locals: { commentable: @idea }
= render partial: 'comments/comment', collection: @comments, locals: { commentable: @idea }
  
- if can? :add, @idea
  = link_to 'Edit', edit_idea_path(@idea)
  |
  \#{link_to 'Back', ideas_path}


= link_to 'like idea', like_idea_path(@idea), method: :put, class: "button small"
= @idea.get_likes.size


= link_to 'dislike idea', dislike_idea_path(@idea), method: :put, class: "button small"
= @idea.get_dislikes.size

= form_tag get_payment_idea_path , id: "payment-form"
  %span.payment-errors
    .form-row
      = label_tag :card_number
      %br/
      = text_field_tag "", nil, data:{stripe: "number"}
    .form-row
      = label_tag :cvc
      %br/
      = text_field_tag "", nil, data:{stripe: "cvc"}
    .form-row
      = label_tag :expiration
      %br/
      = text_field_tag "", nil, data:{stripe: "exp-month"}
      \/
      \#{text_field_tag "", nil, data:{stripe: "exp-year"}}
      = submit_tag :Endorse, class: "button expand"

= link_to 'Edit', edit_idea_path(@idea)

= link_to 'Back', ideas_path

:javascript
  jQuery(function($) {
    $('#payment-form').submit(function(event) {
      var $form = $(this);

      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);

      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from submitting with the default action
      return false;
    });
  });

  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response.id;

      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };

