%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field.firstnameentry
    = f.label :first_name
    %br/
    = f.text_field :first_name, autofocus: true
  .field.lastnameentry
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field.dobentry
    = f.label :dob
    %br/
    = f.date_field :dob
  .field.roleentry
    = f.label :role
    %br/
    = f.text_field :role
  .field.genderentry
    = f.label :gender
    %br/
    = f.text_field :gender
  .field.nationalityentry
    = f.label :nationality
    %br/
    = f.text_field :nationality
  .field.locationentry
    = f.label :location
    %br/
    = f.text_field :location
  .field.emailentry
    = f.label :email
    %br/
    = f.text_field :email
  .field.passwordentry
    = f.label :password
    - if @validatable
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field.confirmpasswordentry
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :image
    %br/
    = f.file_field :image
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
