%p#notice= notice
.user-index
  %p
    %strong Image:
    = link_to image_tag(@user.image.thumb), @user
  %p
    %strong First Name:
    = @user.first_name
  %p
    %strong Last Name:
    = @user.last_name
  %p
    %strong Dob:
    = @user.dob
  %p
    %strong Role:
    = @user.role
  %p
    %strong Gender:
    = @user.gender
  %p
    %strong Nationality:
    = @user.nationality
  %p
    %strong Location:
    = @user.location
  %p
    %strong Email:
    = mail_to(@user.email)
  %p
    %strong Gender:
    = @user.gender.humanize
  
%p.user-show-options
  = link_to 'Edit', edit_user_registration_path(@user)
  |
  \#{link_to 'Back', users_path}