%h1 Listing media

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @media.each do |medium|
      %tr
        %td= link_to 'Show', medium
        %td= link_to 'Edit', edit_medium_path(medium)
        %td= link_to 'Destroy', medium, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= image_tag medium.content

%br

= link_to 'New Medium', new_medium_path
