!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "GA-Ideas"
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js", :type => "text/javascript"}
    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{"data-stripe" => "#{ENV["STRIPE_API_KEY"]}"}
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %h1
            %img.ga{src: "assets/ga-mainlogo.png"}
          
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span Menu

      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li= image_tag current_user.try(:image).try(:thumb), class: "profile-picture"
          %li.has-dropdown
            %a{:href => "#"}
              - if current_user
                = link_to "#{current_user.first_name}", current_user
              - else
                Login/Signup
            %ul.dropdown
              - if user_signed_in?
                %li.item= link_to('Logout', destroy_user_session_path, :method => :delete)
                %li.item= link_to('Edit Account', edit_user_registration_path(@user))
              - else
                %li.item= link_to('Login', new_user_session_path)
                %li.item= link_to "Sign up", new_user_registration_path

        / Left Nav Section
        %ul.left
          %li.has-form
            .row.collapse
            = search_form_for @q do |f|
              .large-7.small-7.columns
                = f.text_field @search_field, placeholder: "Search Ideas"
              .large-4.small-4.columns
                = f.submit class: "alert button expand search-button"

          %li.has-dropdown
            = link_to "Ideas", ideas_path
            %ul.dropdown
              %li.item= link_to 'New Idea', new_idea_path
          %li.has-dropdown
          - if can? :add, @user
            = link_to "Users", users_path
            %ul.dropdown
              %li.item= link_to 'New User', new_user_registration_path

    %main.row= yield
