<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h2><%= link_to "NETWORK", root_path %></h2>
          <!-- <h1><img class="ga" src="http://cic.us/wp-content/uploads/2013/07/General-Assembly-logo.png"></h1> -->
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#">
            <span>Menu</span>
          </a>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><%= image_tag current_user.try(:image).try(:thumb), class: "profile-picture" %></li>
          <li class="has-dropdown">
            <a href="#">
              <% if current_user %>
              <%= link_to "#{current_user.first_name}", current_user %>
              <% else %>
              Login/Signup
              <% end %>
            </a>
            <ul class="dropdown">
              <% if user_signed_in? %>
              <li class="item"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              <li class="item"><%= link_to('Edit Account', edit_user_registration_path(@user)) %></li>
              <% else %>
              <li class="item"><%= link_to('Login', new_user_session_path) %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
         <li class="has-form">
           <div class="row collapse">
             <div class="large-7 small-7 columns">
               <%= search_form_for @q do |f| %>
               <%= f.text_field @search_field, placeholder: "Search" %>
             </div>
             <div class="large-4 small-4 columns">
               <%= f.submit class: "alert button expand" %>
             </div>
             <% end %>
           </div>
         </li>
         <li class="has-dropdown"><%= link_to "Ideas", ideas_path %>
          <ul class="dropdown">
          <% if can? :add, @idea %>
            <li class="item"><%= link_to 'New Idea', new_idea_path %></li>
            <% end %>
          </ul>
        </li>
        <li class="has-dropdown"><%= link_to "Users", users_path %>
          <ul class="dropdown">
            <% if can? :add, @user %>
            <li class="item"><%= link_to 'New User', new_user_registration_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </section>
  </nav>

  <main class="row">
    <%= yield %>
  </main>

  </body>
</html>
